@{
    ViewBag.Title = "Clients List";
}

<div class="row" ng-app="clientsModule" ng-controller="clientsController">
  <div>
    <header>
      <h2>Clients</h2>
      <span>found </span>
      <span class="digits">{{clients.length}}</span>
    </header>
    <strong class="error">{{error}}</strong>
    <div id="onlineClock"></div>
    <hr />
    <div class="btn-group">
      <button class="btn btn-default" onclick="switchView()">
        <span class="glyphicon glyphicon-list" /> View
      </button>
      <button class="btn btn-default">
        <span class="glyphicon glyphicon-euro" /> Invoice
      </button>
      <button class="btn btn-danger">
        <span class="glyphicon glyphicon-trash" /> Delete
      </button>
    </div>
    <br />
    <br />
    <div id="clientsTable">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Age</th>
            <th>Registration Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="client in clients|itemsPerPage:pageSize">
            <td>{{client.Id}}</td>
            <td>{{client.Name}}</td>
            <td>{{client.Description}}</td>
            <td>{{client.Age}}</td>
            <td>{{client.TextDate}}</td>
            <td>
              <a class="btn btn-xs btn-danger" ng-href="#delete" ng-click="delete(client.Id)">
                <span class="glyphicon glyphicon-remove" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="clientsList">
      <div class="list-group">
        <div dir-paginate="client in clients|itemsPerPage:pageSize">
          <a href="#" class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">{{client.Name}}</h4>
            </div>
            <span class="badge badge-default badge-pill">{{client.Age}}</span>
            <p class="mb-1">{{client.Description}}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-10">
        <div id="pagination">
          <dir-pagination-controls template-url="/Scripts/dirPagination.tpl.html" max-size="10"
                                   direction-links="false" boundary-links="false" />
        </div>
      </div>
      <div class="col-xs-2">
        <div id="pageSizeSelect" class="form-group">
          <select class="form-control" ng-init="pageSize = options[0].value" ng-model="pageSize">
            <option ng-repeat="option in options" ng-value="option.value">{{option.name}}</option>
          </select>
        </div> 
      </div>
    </div>
  </div>
</div>